 <script type="text/javascript">
	$(document).ready(function(){
		/* Get iframe src attribute value i.e. YouTube video url and store it in a variable */
		var url = $("#cartoonVideo").attr('src');
		/* Remove iframe src attribute on page load to prevent autoplay in background */
		$("#cartoonVideo").attr('src', '');
		/* Assign the initially stored url back to the iframe src attribute when modal is displayed */
		$("#myModal").on('shown.bs.modal', function(){
				$("#cartoonVideo").attr('src', url);
		});
		/* Assign empty url value to the iframe src attribute when modal hide, which stop the video playing */
		$("#myModal").on('hide.bs.modal', function(){
				$("#cartoonVideo").attr('src', '');
		});
	});
</script>
<script type="text/javascript">
    $(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle' ) {
        $(this).collapse('hide');
    }
});
</script>

<nav role="navigation">
    <div id="menuToggle"><!-- A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it. -->
        <input type="checkbox" />
        <!-- Some spans to act as a hamburger. They are acting like a real hamburger, not that McDonalds stuff. -->
        <span></span>
        <span></span>
        <span></span>
        <!-- Too bad the menu has to be inside of the button but hey, it's pure CSS magic. -->
        <ul id="menu" >
            <h1 class="gradient"><img class="logo" src="../assets/dumpdlogo/dumpd-2-top.png"></h1>
            <!-- maybe make the routerLinks href but its slower??? -->
            
            
            <div *ngIf="router.url != '/landing'"> 
                <!-- from https://stackoverflow.com/questions/37332061/hide-elements-based-on-routing-in-angular2-rc1   maxou -->
                <li><a routerLink="/home" data-toggle="collapse" data-target=".navbar-collapse" >Home</a></li>
                <li><a routerLink="/messages" data-toggle="collapse" data-target=".navbar-collapse" >My Messages</a></li>
                <li><a routerLink="/create" data-toggle="collapse" data-target=".navbar-collapse" >New Messages</a></li>
            </div>
            
            <!-- <ul class="accordion css-accordion"> -->
            <li class="accordion-item">
                <input class="accordion-item-input" type="checkbox" name="accordion" id="item1" />
                <label for="item1" class="accordion-item-hd">About<button class="accordion-item-hd-cta">&#9650;</button></label>
                <h2 class="accordion-item-bd">
                    <div class="box">
                        <h3>dumpd was created for the purpose of helping those who are hopeless when it comes to breakups.</h3>
                    </div>
                </h2>
            </li>
            <li class="accordion-item">
                <input class="accordion-item-input" type="checkbox" name="accordion" id="item2" />
                <label for="item2" class="accordion-item-hd">Contact Us<button class="accordion-item-hd-cta">&#9650;</button></label>
                <h2 class="accordion-item-bd" >
                    <!-- <button class="js-emailcopybtn"><a class="js-emaillink" >Call: </a></button> -->
                    <div class="box" style="display: block">
                        <h3 class="js-emaillink">Call:</h3>
                        <h3 class="js-emailcopybtn">Email: </h3>
                    </div>
                </h2>
            </li>
            <div *ngIf="router.url != '/landing'">
                <li><hr style="background-color:rgba(249, 249, 249, .7)"></li>
                <!-- fix the weird line thing that pops up -->
                <li><a href="#"><button class="glyphicon glyphicon-log-out" style="background-color:transparent; border: none;"></button>Logout</a></li>
            </div>
        </ul>
    </div>
    <div class="video">
        <!-- Button HTML (to Trigger Modal) -->
        <button href="#myModal" class="btn btn-lg btn-primary" id="vidButt" data-toggle="modal">
            <i class="glyphicon glyphicon-facetime-video" style="font-size: 37px"></i>
            <!-- had it at 50px -->
        </button>
        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#10006;</button>
                        <!-- <h4 class="modal-title">dumpd</h4> -->
                    </div>
                    <div class="modal-body">
                        <iframe id="cartoonVideo" src="//www.youtube.com/embed/L9oMb3_UW-o" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

